@font-face {
    font-family: 'BM JUA';
    src: url('BMJUA.woff2') format('woff2'),
        url('BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

